#details-page{
    display: flex;
    flex-direction: row;
    height: 80vh;
    overflow: hidden;
}

#img-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-container img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

#info-container{
    width: 50%;
    padding: 20px;
    overflow-y: auto;
}

#comment{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}

hr{
    margin: 20px 0 20px 0;
}

#like-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FF8A8A;
}

#like-container span{
    font-size: 1.1rem;
    font-weight: bold;
}